{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Page, Create by Izisoft.io</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-warning">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="{% static 'img/django-crm-home.png' %}" class="rounded" alt="Cinque Terre">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hệ Thống Nhận Dạng Người Lái Xe</h1>

                                    </div>
                                    {{login_teacher}}
                                    <!-- login teacher -->
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="login_teacher" value="1">
                                        <button type="submit" href="{% url 'a2_dashboard' %}"
                                            class="btn btn-danger btn-block btn-lg">Đăng Nhập Giáo Viên</button>
                                    </form>
                                    <br>
                                    <!-- login student -->
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="login_student" value="1">
                                        <button type="submit" href="{% url 'a2_dashboard' %}"
                                            class="btn btn-primary btn-block btn-lg">Đăng Nhập Người Lái Xe</button>
                                    </form>

                                    <br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>